<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Nhom13_QuanLyKhachSan/src/gui/frm_DangNhap.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="gui.frm_DangNhap"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Nhom13_QuanLyKhachSan"/>
</launchConfiguration>
